.User {
  padding-left: 20px;
  padding-top: 37px;
}
.User-title {
  width: 60px;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.User-text {
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}
.User-text-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
