.Item {
  display: flex;
  justify-content: flex-start;
  background: #fff;
  height: 61px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}

.Item-code {
  padding-left: 19px;
}

.Item-title {
  width: 100%;
  padding-left: 20px;
}
.Item-price {
  font-size: 18px;
  font-weight: 400;
  color: #404040;
  /* width: 100%; */
  /* padding: 20px 10px; */
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding-left: 24px;
  padding-right: 21px;
}

.Item-button {
  width: 76px;
  height: 21px;
  border-radius: 2px;
  border: 1px solid #767676;
  background: #efefef;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
