.Cart-list {
  margin-top: 71px;
  border-bottom: 1px dashed #ccc;
}

.Cart-list-item {
  border-top: 1px dashed #ccc;
}
.Cart-list-amount {
  display: flex;
  justify-content: flex-end;
  padding: 20px 120px 20px;
}
.Cart-list-amount-number {
  margin-left: 53px;
}
