.Cart-item {
  display: flex;
  justify-content: flex-start;
  height: 63px;
}

.Cart-item-code {
  padding-left: 19px;
  padding-top: 19.69px;
  font-size: 16px;
  font-weight: 400;
}

.Cart-item-title {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
.Cart-item-price {
  font-size: 18px;
  font-weight: 400;
  color: #404040;
  padding-top: 20px;
}
.Cart-item-quantity {
  text-wrap: nowrap;
  font-size: 18px;
  font-weight: 400;
  color: #404040;
  padding-top: 20px;
  padding-left: 62px;
}

.Cart-item-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 19.69px;
  padding-right: 21px;
  padding-left: 24px;
}
.Cart-item-button {
  width: 76px;
  height: 21.689px;
  border-radius: 2px;
  border: 1px solid #767676;
  background: #efefef;
  font-size: 13px;
  font-weight: 400;
}
